/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

body {
	padding: 50px;
	color: #333;
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
		segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto,
		noto, arial, sans-serif;
}

h1,
h2 {
	line-height: 1.1;
}

h1 {
	font-size: 3rem;
	font-weight: bolder;
	text-transform: uppercase;
	letter-spacing: 1.3px;
}

h2 {
	color: rgba(0, 0, 0, 0.5);
}

.welcome {
}

.name-title {
	font-weight: bold;
}

button,
.button {
	display: inline-block;
	background-color: #333;
	font-weight: bold;
	color: #eee;
	padding: 0.5rem 2rem;
	border: 1px solid transparent;
	border-radius: 5px;
	width: max-content;
	margin-left: auto;
	margin-right: 1rem;
	text-decoration: none;
	transition: color 200ms ease-in, background-color 200ms ease-in;
	cursor: pointer;
}

button:hover,
.button:hover {
	background-color: #eee;
	color: #333;
	border: 1px solid currentColor;
	transform: translateY(-2px);
}

button:active,
.button:active {
	transform: translateY(1px);
}

ol {
	list-style: none;
	padding-left: 0;
}

.container {
	max-width: 800px;
	margin-inline: auto;
}

.container > * + * {
	margin-top: 2rem;
}

/* Message */

.message-container {
	position: relative;
	margin-top: 4rem;
}

.message-container a {
	margin-left: auto;
}

.username {
	color: rgba(0, 0, 0, 0.4);
}

.date-added {
	opacity: 0.3;
	font-size: 0.8rem;
}

.message {
	display: grid;
	grid-template-columns: max-content 1fr;
	/* align-items: top; */
	background: #fff;
	padding: 1rem;
	box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.4);
	border: 1px solid hsla(120, 0%, 85%, 1);
	border-radius: 5px;
	margin-bottom: 1em;
}

.message-meta {
	display: flex;
	flex-direction: column;
}

.message-text {
	position: relative;
	font-size: 1.1rem;
	padding-left: 3rem;
}

.message-text::before,
.message-text::after {
	position: absolute;
	color: rgba(0, 0, 0, 0.05);
	font-size: 4rem;
	font-family: 'Times New Roman', Times, serif;
	top: -2.5rem;
}

.message-text::before {
	content: '\201C';
	left: 0.5rem;
}

.message-text::after {
	content: '\201D';
	right: 1rem;
}

.new-message-btn {
	position: absolute;
	margin-left: auto;
	top: -3rem;
	right: -1rem;
}

/* Submit Message Form */

form {
	display: flex;
	flex-direction: column;
}

form > * + * {
	margin-top: 1rem;
}

input[type='text'],
textarea {
	display: inline-block;
	border: 1px solid rgba(0, 0, 0, 0.6);
	border-radius: 5px;
	font-size: 1rem;
	padding: 5px;
	width: 100%;
}

button[type='submit'] {
	margin-right: 0;
}

fieldset {
	display: grid;
	grid-template-columns: 5rem 1fr;
	border: none;
	padding-left: 0;
}
